* {
    font-family: 'Lora';
}

h4{
    margin: 0px;
    padding: 0px;
}

header {
    width: 500px;
    margin: 25px 15px;
    border-bottom: solid 1px black;
}

a {
    padding: 10px;
    margin: 15px;
    border: solid 1px black;
}