* {
    margin: 0px;
    padding: 0px;
    font-family: Noto Sans Display;
}

:root {
    --color1: #4446e255;
    --color2: #A8232355;
}

header, main {
    margin: 20px;
}

main {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

#card {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    background-color: var(--color1);
    box-shadow: 5px 5px 2px lightgray;
    padding: 20px;
    border: solid 1px black;
    box-sizing: content-box;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#card *{
    margin: 5px 0;
}

h4 {
    font-size: 17pt;
}

.image-container {
    height: 200px;
}